.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 1.6rem 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description,
.nav {
  color: #766f68;
  text-align: center;
}

.description {
  margin: 1.4rem 0;
  line-height: 1.5;
  font-size: 1.3rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 20vw;
  height: 8vh;
  background-color: #d2872c;
  border-radius: 15px;
  color: #fff;
  margin: 2.5rem 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.buttonText {
  font-size: 1.1rem;
  font-weight: 700;
}

.boxImage {
  display: flex;
  background-color: transparent;
}

.boxModel {
  /* background-color: rgb(151, 58, 58); */
  width: 300vw;
}

.picture {
  width: 50%;
  height: 50%;
}

.header h2 {
  display: flex;
  color: #d2872c;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.menu {
  display: flex;
  text-decoration: none;
}

.textMenu {
  font-size: 1.1rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
}

.nav a {
  margin: 0 1.2rem 0 1.2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .button {
    width: 34vw;
  }
  .boxModel {
    width: auto;
  }

  .main {
    flex: 1;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }
}
